doctype html
html
  head
    title Registro
  body
    form(method="POST" action="/users")
      input(type="email" name="email" placeholder="Correo Electrónico")
      input(type="password" name="password" placeholder="Contraseña")
      input(type="submit" value="Crear Cuenta")
