doctype html
html
  head
    title Login
  body
    form(method="POST" action="/sessions")
      input(type="email" name="email" placeholder="Correo Electrónico")
      input(type="password" name="password" placeholder="Contraseña")
      input(type="submit" value="Iniciar Sesion")
